body {
  margin: 0;
  padding: 0;
  
}

/*HEADER*/

header {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 200;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tu preferencia */
  z-index: 1;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.titulo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 63px;
  font-weight: 700;
}

.titulo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
}


/*NAVBAR*/

.navbar {
  background: transparent;
  z-index: 2; 
  position: fixed; 
  width: 100%;
}

.navbar-brand img{
    width: 120px;
}

.navbar-nav {
    margin-left: auto;
  }

  .navbar-nav .nav-link{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    
  }
  .navbar-nav .nav-item:nth-child(1) .nav-link {
    color: white;
  }
  .navbar-nav .nav-item:nth-child(1) .nav-link:hover {
    color: white;
  }

  .dropdown-menu .dropdown-item{
    color: black;
    background-color: transparent;
  }

  .dropdown-menu .dropdown-item:hover{
    color: black;
  }

  .navbar.scrolled {
    color: #000000; /* Cambia el color del texto a negro cuando la clase "scrolled" está presente */
  }
  


  /*FOOTER*/
  #page-footer {
    background-color: #005BAB;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

/* Contenedor de las listas */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 200px;
}

.text-negocios {
    font-size: 15px;
    text-align: justify;

    h2 {
        font-size: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    transform: scale(0.1);
                    color: rgb(173, 173, 173);
                }
            }
        }
    }
}

.text-more-information {
    font-size: 15px;
    text-align: justify;

    h2 {
        font-size: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 9px;

            a {
                text-decoration: none;
                color: white;
                &:hover {
                  transform: scale(0.1);
                  color: rgb(173, 173, 173);
              }
            }
        }
    }
}

.icons-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            transform: scale(1.05);
            transition: all 500ms ease;
        }
    }

    i {
        font-size: 20px;
        padding: 30px;
    }
}

/* Logo UAA */
.img-logo-white {
    height: 75px;
    display: flex;
    justify-content: start;
    margin-top: 65px;
    margin-left: -200px;
    width: 100px;
}

.content-info {
    display: flex;
    justify-content: space-between;

    p {
        margin-right: 64px;
    }
}

/* Copyright */
.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;

    p {
        font-size: 13px;
        margin-left: 10px;
        margin-top: 9px;
    }
}

footer {
    position: relative;
    z-index: 1;
}

  


/*CARRUSEL*/

.myCarousel{
  background-color: #3498db;
}
.myCarousel h1{
 text-align: center;
 font-family: 'Roboto', sans-serif;
 color: white;
}

.contenido {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

img {
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  margin-right: 20px; /* Espacio entre las imágenes */
}


/*SECTION*/
.acordeon {
  display: flex;
  width: 100%;
  overflow: hidden; /* Cambiar a "hidden" para ocultar el desplazamiento horizontal */
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 10px solid red; 
  border-bottom: 10px solid red; 
  box-sizing: border-box; 
}

.acordeon .imagen {
  position: relative;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: 400px; /* Ajusta la altura según tus necesidades */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.acordeon h3 {
  z-index: 1;
  margin: 0;
  font-size: 20px;
}

.acordeon .imagen:hover {
  transform: scale(1.05);
  opacity: 0.8;
  filter: contrast(120%);
}

.acordeon .imagen:hover h3 {
  opacity: 1;
}

.acordeon .imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}




